<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "=//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.password">ih3kaerdwqcq</property>
		<property name="hibernate.connection.url">jdbc:mysql://emsalafacildb.cidlb1hru15j.us-west-2.rds.amazonaws.com</property>
		<property name="hibernate.connection.username">emsalafacil</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">false</property>
		<property name="hbm2ddl.auto">create</property>

		<!-- Mapeamento das Classes -->
		<mapping class="br.ensalamento.model.Ensalamento"/>
		<mapping class="br.ensalamento.model.Curso" />
		<mapping class="br.ensalamento.model.Disciplina" />
		<mapping class="br.ensalamento.model.Sala" />
		<mapping class="br.ensalamento.model.Turma" />
		<mapping class="br.ensalamento.model.TipoDeSala" />
		<mapping class="br.ensalamento.model.Usuario" />
		

	</session-factory>
</hibernate-configuration>
